.right_menu_container {
    width: 250px;
    background-color: white;
    border-radius: 12px;
    padding: 5px 10px;
    border: 1px solid gray;
    position: sticky;
    top: 100px;
    height: auto;
}

.right_menu_title {
    font-weight: bold;
    font-size: 18px;
}

.right_menu_news_title {
    margin-top: 20px;
    cursor: pointer;
}